<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/isuru.w/IdeaProjects/Ebay_Automation_Using_Selenium_And_TestNG">
        <classes>
            <class name="pom.test.TestHomePageAndNavigateThroughMenus">
                <methods>
                    <include name="testHomePage"/>
                    <include name="testTopMenuBarMouseHoverFunction"/>
                </methods>
            </class>
            <class name="pom.test.TestSearchAndFiltersUsingSearch">
                <methods>
                    <include name="testSearchFunction"/>
                </methods>
            </class>
            <class name="pom.test.TestSearchProductsUsingAdvancedSearch">
                <methods>
                    <include name="testProductsSearchUsingAdvancedSearch"/>
                    <include name="testItemsInShoppingCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>